---
import BlogPost from '../components/BlogPost.astro';

// Sample blog posts
const posts = [
  {
    title: 'Introduction to Astro',
    date: '2025-03-01',
    content: 'yay astro!',
  },
  {
    title: 'Getting Started with JavaScript',
    date: '2025-02-28',
    content: 'yay JavaScript',
  },
  {
    title: 'Building a Portfolio with HTML and CSS',
    date: '2025-02-25',
    content: 'yay html',
  },
];
---

<html>
  <head>
    <title>My Blog</title>
  </head>
  <body>
    <h1>Welcome to My Blog</h1>
    <section>
      <h2>Latest Posts</h2>
      {posts.map((post) => (
        <BlogPost
          title={post.title}
          date={post.date}
          content={post.content}
          slug={post.slug}
        />
      ))}
    </section>
  </body>
</html>
